# local package
-e .

# external requirements
uvicorn
dvc
dvc[gdrive]

dvc[gs]
wandb
flake8


click==8.1.3
matplotlib==3.6.2
numpy==1.24.1
Pillow==9.4.0
python-dotenv==0.21.0
setuptools==65.6.3
torch==1.13.0

torchmetrics==0.11.0
transformers==4.24.0
torchvision

hydra-core


datasets==2.7.1

tqdm==4.64.1



fastapi==0.89.1
opencv_python==4.7.0.68
pydantic==1.10.4
python-multipart==0.0.5
