numpy
matplotlib
scipy
seaborn
torchvision
huggingface
pipreqs
cookiecutter
fastapi
uvicorn[standard]
onnx
onnxruntime
optuna
scikit-learn
flake8
isort
mypy
dvc
dvc[gdrive]
dvc[gs]
hydra-core
torch_tb_profiler
wandb
coverage
pre-commit
google-api-python-client
ptflops